<div class="mainContainer">
  <div class="header">
    <div class="navbars">
      <div class="logo" style="margin-left: 20px; font-size: 18px;">
        Logo
      </div>
      <div class="settings">
        <div class="back"><i class="fa-solid fa-chevron-left"></i>Back to Dashboard</div>
        <div class="preview mrg-left-18 ">
          <button class="btn">Preview <i class="fa-solid fa-chevron-down"></i></button>
        </div>
        <div class="setting mrg-left-18 "><i class="fa-solid fa-gear"></i></div>
      </div>
    </div>
  </div>
  <div class="main-section">
    <div class="sidebar">
      <div class="side-menu">
        <ul>
          <li><i class="fa-solid fa-graduation-cap mrg-right-15"></i>Intended Learners</li>
          <li><i class="fa-regular fa-clipboard mrg-right-15"></i>Details</li>
          <li><i class="fa-solid fa-book mrg-right-15"></i>Curriculum</li>
          <li><i class="fa-solid fa-receipt mrg-right-15"></i>Promotions</li>
          <li><i class="fa-solid fa-tag mrg-right-15"></i>Pricing</li>
          <li><i class="fa-solid fa-lightbulb mrg-right-15"></i>Tips</li>
        </ul>
      </div>
    </div>

    <div class="mainSection">
      <div class="header-title">
        Learn Figma UI/UX From A to Z <i class="fa-regular fa-circle-check mrg-left-18"></i>
        <button class="btn mrg-left-18">Publish</button>
      </div>
      <div class="curriculum">
        <div class="title">Curriculum</div>
        <div class="position-right">
          <button class="btn checkIssues">Check All Issues</button>
          <button class="btn addBtn mrg-left-18"><i class="fa-solid fa-plus"></i> Add Section</button>
        </div>
      </div>

      <div class="expansionSection">

        <div class="collapse-tab">
          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1"
            aria-expanded="false" aria-controls="collapseExample">
            <div class="align-left">
              <i class="fa-solid fa-bars mrg-right-15 font-size-20 mrg-left-10"></i>
              <i class="fa-solid fa-chevron-right mrg-right-15 font-size-20"></i>
              <div class="course-name font-size-16 dflex-container"><i
                  class="fa-regular fa-circle-check mrg-right-10 font-size-20"></i>1.Basic
                Javascript - 001<i class="fa-solid fa-pen mrg-left-10 font-size-20"></i>
              </div>

              <div class="middle">
                <div class="videos mrg-right-15 dflex-container">
                  <i class="fa-regular fa-circle-play font-size-20 mrg-right-7"></i>
                  videos
                </div>
                <div class="lectures mrg-right-15 dflex-container">
                  <i class="fa-solid fa-book font-size-20 mrg-right-7"></i>
                  Lectures
                </div>
                <div class="assignment mrg-right-15 dflex-container">
                  <i class="fa-regular fa-clipboard font-size-20 mrg-right-7"></i>
                  Assignment
                </div>
                <div class="quizes dflex-container">
                  <i class="fa-solid fa-brain font-size-20 mrg-right-7"></i>
                  Quizes
                </div>
              </div>

              <div class="text-align-right">
                <i class="fa-solid fa-plus mrg-right-15 font-size-20"></i>
                <i class="fa-solid fa-trash mrg-right-15 font-size-20"></i>
              </div>
            </div>
          </button>

          <div class="collapse" id="collapseExample1">
            <div class="collapse-subsections">
              <div class="align-left">
                <i class="fa-solid fa-ellipsis-vertical font-size-20 mrg-right-3" style="margin-left: 22px;"></i>
                <i class="fa-solid fa-ellipsis-vertical font-size-20 mrg-right-10"></i>
                <i class="fa-solid fa-chevron-right mrg-right-15 font-size-20"></i>
                <div class="course-name font-size-16 dflex-container"><i
                    class="fa-regular fa-circle-check mrg-right-10 font-size-20"></i>Introduction
                  to the course<i class="fa-solid fa-pen mrg-left-10 font-size-20"></i>
                </div>

                <div class="middle">
                  <div class="videos mrg-right-3rem dflex-container font-size-16">
                    <i class="fa-solid fa-circle-play font-size-20 mrg-right-7"></i>
                    02:50
                  </div>
                  <div class="lectures mrg-right-3rem dflex-container">
                    <section class="example-section">
                      <mat-checkbox class="example-margin font-size-16">Preview</mat-checkbox>
                    </section>
                  </div>
                  <div class="assignment mrg-right-15 dflex-container font-size-16">
                    Published on : 13 July '22
                  </div>
                </div>

                <div class="text-align-right dflex-container">
                  <p class="mrg-right-15 font-size-16">Edit</p>
                  <p class="mrg-right-15 font-size-16">Delete</p>
                </div>
              </div>
            </div>
            <div class="collapse-subsections">
              <div class="align-left">
                <i class="fa-solid fa-ellipsis-vertical font-size-20 mrg-right-3" style="margin-left: 22px;"></i>
                <i class="fa-solid fa-ellipsis-vertical font-size-20 mrg-right-10"></i>
                <i class="fa-solid fa-chevron-right mrg-right-15 font-size-20"></i>
                <div class="course-name font-size-16 dflex-container"><i
                    class="fa-regular fa-circle-check mrg-right-10 font-size-20"></i>Introduction
                  to the course<i class="fa-solid fa-pen mrg-left-10 font-size-20"></i>
                </div>

                <div class="middle">
                  <div class="videos mrg-right-3rem dflex-container font-size-16">
                    <i class="fa-solid fa-circle-play font-size-20 mrg-right-7"></i>
                    02:50
                  </div>
                  <div class="lectures mrg-right-3rem dflex-container">
                    <section class="example-section">
                      <mat-checkbox class="example-margin font-size-16">Preview</mat-checkbox>
                    </section>
                  </div>
                  <div class="assignment mrg-right-15 dflex-container font-size-16">
                    Published on : 13 July '22
                  </div>
                </div>

                <div class="text-align-right dflex-container">
                  <p class="mrg-right-15 font-size-16">Edit</p>
                  <p class="mrg-right-15 font-size-16">Delete</p>
                </div>
              </div>
            </div>
            <div class="collapse-subsections">
              <div class="align-left">
                <i class="fa-solid fa-ellipsis-vertical font-size-20 mrg-right-3" style="margin-left: 22px;"></i>
                <i class="fa-solid fa-ellipsis-vertical font-size-20 mrg-right-10"></i>
                <i class="fa-solid fa-chevron-right mrg-right-15 font-size-20"></i>
                <div class="course-name font-size-16 dflex-container"><i
                    class="fa-regular fa-circle-check mrg-right-10 font-size-20"></i>Introduction
                  to the course<i class="fa-solid fa-pen mrg-left-10 font-size-20"></i>
                </div>

                <div class="middle">
                  <div class="videos mrg-right-3rem dflex-container font-size-16">
                    <i class="fa-solid fa-circle-play font-size-20 mrg-right-7"></i>
                    02:50
                  </div>
                  <div class="lectures mrg-right-3rem dflex-container">
                    <section class="example-section">
                      <mat-checkbox class="example-margin font-size-16">Preview</mat-checkbox>
                    </section>
                  </div>
                  <div class="assignment mrg-right-15 dflex-container font-size-16">
                    Published on : 13 July '22
                  </div>
                </div>

                <div class="text-align-right dflex-container">
                  <p class="mrg-right-15 font-size-16">Edit</p>
                  <p class="mrg-right-15 font-size-16">Delete</p>
                </div>
              </div>
            </div>
            <div class="collapse-subsections">
              <div class="align-left">
                <i class="fa-solid fa-ellipsis-vertical font-size-20 mrg-right-3" style="margin-left: 22px;"></i>
                <i class="fa-solid fa-ellipsis-vertical font-size-20 mrg-right-10"></i>
                <i class="fa-solid fa-chevron-right mrg-right-15 font-size-20"></i>
                <div class="course-name font-size-16 dflex-container"><i
                    class="fa-regular fa-circle-check mrg-right-10 font-size-20"></i>Introduction
                  to the course<i class="fa-solid fa-pen mrg-left-10 font-size-20"></i>
                </div>

                <div class="middle">
                  <div class="videos mrg-right-3rem dflex-container font-size-16">
                    <i class="fa-solid fa-circle-play font-size-20 mrg-right-7"></i>
                    02:50
                  </div>
                  <div class="lectures mrg-right-3rem dflex-container">
                    <section class="example-section">
                      <mat-checkbox class="example-margin font-size-16">Preview</mat-checkbox>
                    </section>
                  </div>
                  <div class="assignment mrg-right-15 dflex-container font-size-16">
                    Published on : 13 July '22
                  </div>
                </div>

                <div class="text-align-right dflex-container">
                  <p class="mrg-right-15 font-size-16">Edit</p>
                  <p class="mrg-right-15 font-size-16">Delete</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 2 -->
        <div class="collapse-tab">
          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2"
            aria-expanded="false" aria-controls="collapseExample">
            <div class="align-left">
              <i class="fa-solid fa-bars mrg-right-15 font-size-20 mrg-left-10"></i>
              <i class="fa-solid fa-chevron-right mrg-right-15 font-size-20"></i>
              <div class="course-name font-size-16 dflex-container"><i
                  class="fa-regular fa-circle-check mrg-right-10 font-size-20"></i>1.Basic
                Javascript - 001<i class="fa-solid fa-pen mrg-left-10 font-size-20"></i>
              </div>

              <div class="middle">
                <div class="videos mrg-right-15 dflex-container">
                  <i class="fa-regular fa-circle-play font-size-20 mrg-right-7"></i>
                  videos
                </div>
                <div class="lectures mrg-right-15 dflex-container">
                  <i class="fa-solid fa-book font-size-20 mrg-right-7"></i>
                  Lectures
                </div>
                <div class="assignment mrg-right-15 dflex-container">
                  <i class="fa-regular fa-clipboard font-size-20 mrg-right-7"></i>
                  Assignment
                </div>
                <div class="quizes dflex-container">
                  <i class="fa-solid fa-brain font-size-20 mrg-right-7"></i>
                  Quizes
                </div>
              </div>

              <div class="text-align-right">
                <i class="fa-solid fa-plus mrg-right-15 font-size-20"></i>
                <i class="fa-solid fa-trash mrg-right-15 font-size-20"></i>
              </div>
            </div>
          </button>

          <div class="collapse" id="collapseExample2">
            <div class="collapse-subsections">
              <div class="align-left">
                <i class="fa-solid fa-ellipsis-vertical font-size-20 mrg-right-3" style="margin-left: 22px;"></i>
                <i class="fa-solid fa-ellipsis-vertical font-size-20 mrg-right-10"></i>
                <i class="fa-solid fa-chevron-right mrg-right-15 font-size-20"></i>
                <div class="course-name font-size-16 dflex-container"><i
                    class="fa-regular fa-circle-check mrg-right-10 font-size-20"></i>Introduction
                  to the course<i class="fa-solid fa-pen mrg-left-10 font-size-20"></i>
                </div>

                <div class="middle">
                  <div class="videos mrg-right-3rem dflex-container font-size-16">
                    <i class="fa-solid fa-circle-play font-size-20 mrg-right-7"></i>
                    02:50
                  </div>
                  <div class="lectures mrg-right-3rem dflex-container">
                    <section class="example-section">
                      <mat-checkbox class="example-margin font-size-16">Preview</mat-checkbox>
                    </section>
                  </div>
                  <div class="assignment mrg-right-15 dflex-container font-size-16">
                    Published on : 13 July '22
                  </div>
                </div>

                <div class="text-align-right dflex-container">
                  <p class="mrg-right-15 font-size-16">Edit</p>
                  <p class="mrg-right-15 font-size-16">Delete</p>
                </div>
              </div>
            </div>
            <div class="collapse-subsections">
              <div class="align-left">
                <i class="fa-solid fa-ellipsis-vertical font-size-20 mrg-right-3" style="margin-left: 22px;"></i>
                <i class="fa-solid fa-ellipsis-vertical font-size-20 mrg-right-10"></i>
                <i class="fa-solid fa-chevron-right mrg-right-15 font-size-20"></i>
                <div class="course-name font-size-16 dflex-container"><i
                    class="fa-regular fa-circle-check mrg-right-10 font-size-20"></i>Introduction
                  to the course<i class="fa-solid fa-pen mrg-left-10 font-size-20"></i>
                </div>

                <div class="middle">
                  <div class="videos mrg-right-3rem dflex-container font-size-16">
                    <i class="fa-solid fa-circle-play font-size-20 mrg-right-7"></i>
                    02:50
                  </div>
                  <div class="lectures mrg-right-3rem dflex-container">
                    <section class="example-section">
                      <mat-checkbox class="example-margin font-size-16">Preview</mat-checkbox>
                    </section>
                  </div>
                  <div class="assignment mrg-right-15 dflex-container font-size-16">
                    Published on : 13 July '22
                  </div>
                </div>

                <div class="text-align-right dflex-container">
                  <p class="mrg-right-15 font-size-16">Edit</p>
                  <p class="mrg-right-15 font-size-16">Delete</p>
                </div>
              </div>
            </div>
            <div class="collapse-subsections">
              <div class="align-left">
                <i class="fa-solid fa-ellipsis-vertical font-size-20 mrg-right-3" style="margin-left: 22px;"></i>
                <i class="fa-solid fa-ellipsis-vertical font-size-20 mrg-right-10"></i>
                <i class="fa-solid fa-chevron-right mrg-right-15 font-size-20"></i>
                <div class="course-name font-size-16 dflex-container"><i
                    class="fa-regular fa-circle-check mrg-right-10 font-size-20"></i>Introduction
                  to the course<i class="fa-solid fa-pen mrg-left-10 font-size-20"></i>
                </div>

                <div class="middle">
                  <div class="videos mrg-right-3rem dflex-container font-size-16">
                    <i class="fa-solid fa-circle-play font-size-20 mrg-right-7"></i>
                    02:50
                  </div>
                  <div class="lectures mrg-right-3rem dflex-container">
                    <section class="example-section">
                      <mat-checkbox class="example-margin font-size-16">Preview</mat-checkbox>
                    </section>
                  </div>
                  <div class="assignment mrg-right-15 dflex-container font-size-16">
                    Published on : 13 July '22
                  </div>
                </div>

                <div class="text-align-right dflex-container">
                  <p class="mrg-right-15 font-size-16">Edit</p>
                  <p class="mrg-right-15 font-size-16">Delete</p>
                </div>
              </div>
            </div>
            <div class="collapse-subsections">
              <div class="align-left">
                <i class="fa-solid fa-ellipsis-vertical font-size-20 mrg-right-3" style="margin-left: 22px;"></i>
                <i class="fa-solid fa-ellipsis-vertical font-size-20 mrg-right-10"></i>
                <i class="fa-solid fa-chevron-right mrg-right-15 font-size-20"></i>
                <div class="course-name font-size-16 dflex-container"><i
                    class="fa-regular fa-circle-check mrg-right-10 font-size-20"></i>Introduction
                  to the course<i class="fa-solid fa-pen mrg-left-10 font-size-20"></i>
                </div>

                <div class="middle">
                  <div class="videos mrg-right-3rem dflex-container font-size-16">
                    <i class="fa-solid fa-circle-play font-size-20 mrg-right-7"></i>
                    02:50
                  </div>
                  <div class="lectures mrg-right-3rem dflex-container">
                    <section class="example-section">
                      <mat-checkbox class="example-margin font-size-16">Preview</mat-checkbox>
                    </section>
                  </div>
                  <div class="assignment mrg-right-15 dflex-container font-size-16">
                    Published on : 13 July '22
                  </div>
                </div>

                <div class="text-align-right dflex-container">
                  <p class="mrg-right-15 font-size-16">Edit</p>
                  <p class="mrg-right-15 font-size-16">Delete</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 3 -->
        <div class="collapse-tab">
          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample3"
            aria-expanded="false" aria-controls="collapseExample">
            <div class="align-left">
              <i class="fa-solid fa-bars mrg-right-15 font-size-20 mrg-left-10"></i>
              <i class="fa-solid fa-chevron-right mrg-right-15 font-size-20"></i>
              <div class="course-name font-size-16 dflex-container"><i
                  class="fa-regular fa-circle-check mrg-right-10 font-size-20"></i>1.Basic
                Javascript - 001<i class="fa-solid fa-pen mrg-left-10 font-size-20"></i>
              </div>

              <div class="middle">
                <div class="videos mrg-right-15 dflex-container">
                  <i class="fa-regular fa-circle-play font-size-20 mrg-right-7"></i>
                  videos
                </div>
                <div class="lectures mrg-right-15 dflex-container">
                  <i class="fa-solid fa-book font-size-20 mrg-right-7"></i>
                  Lectures
                </div>
                <div class="assignment mrg-right-15 dflex-container">
                  <i class="fa-regular fa-clipboard font-size-20 mrg-right-7"></i>
                  Assignment
                </div>
                <div class="quizes dflex-container">
                  <i class="fa-solid fa-brain font-size-20 mrg-right-7"></i>
                  Quizes
                </div>
              </div>

              <div class="text-align-right">
                <i class="fa-solid fa-plus mrg-right-15 font-size-20"></i>
                <i class="fa-solid fa-trash mrg-right-15 font-size-20"></i>
              </div>
            </div>
          </button>

          <div class="collapse" id="collapseExample3">
            <div class="collapse-subsections">
              <div class="align-left">
                <i class="fa-solid fa-ellipsis-vertical font-size-20 mrg-right-3" style="margin-left: 22px;"></i>
                <i class="fa-solid fa-ellipsis-vertical font-size-20 mrg-right-10"></i>
                <i class="fa-solid fa-chevron-right mrg-right-15 font-size-20"></i>
                <div class="course-name font-size-16 dflex-container"><i
                    class="fa-regular fa-circle-check mrg-right-10 font-size-20"></i>Introduction
                  to the course<i class="fa-solid fa-pen mrg-left-10 font-size-20"></i>
                </div>

                <div class="middle">
                  <div class="videos mrg-right-3rem dflex-container font-size-16">
                    <i class="fa-solid fa-circle-play font-size-20 mrg-right-7"></i>
                    02:50
                  </div>
                  <div class="lectures mrg-right-3rem dflex-container">
                    <section class="example-section">
                      <mat-checkbox class="example-margin font-size-16">Preview</mat-checkbox>
                    </section>
                  </div>
                  <div class="assignment mrg-right-15 dflex-container font-size-16">
                    Published on : 13 July '22
                  </div>
                </div>

                <div class="text-align-right dflex-container">
                  <p class="mrg-right-15 font-size-16">Edit</p>
                  <p class="mrg-right-15 font-size-16">Delete</p>
                </div>
              </div>
            </div>
            <div class="collapse-subsections">
              <div class="align-left">
                <i class="fa-solid fa-ellipsis-vertical font-size-20 mrg-right-3" style="margin-left: 22px;"></i>
                <i class="fa-solid fa-ellipsis-vertical font-size-20 mrg-right-10"></i>
                <i class="fa-solid fa-chevron-right mrg-right-15 font-size-20"></i>
                <div class="course-name font-size-16 dflex-container"><i
                    class="fa-regular fa-circle-check mrg-right-10 font-size-20"></i>Introduction
                  to the course<i class="fa-solid fa-pen mrg-left-10 font-size-20"></i>
                </div>

                <div class="middle">
                  <div class="videos mrg-right-3rem dflex-container font-size-16">
                    <i class="fa-solid fa-circle-play font-size-20 mrg-right-7"></i>
                    02:50
                  </div>
                  <div class="lectures mrg-right-3rem dflex-container">
                    <section class="example-section">
                      <mat-checkbox class="example-margin font-size-16">Preview</mat-checkbox>
                    </section>
                  </div>
                  <div class="assignment mrg-right-15 dflex-container font-size-16">
                    Published on : 13 July '22
                  </div>
                </div>

                <div class="text-align-right dflex-container">
                  <p class="mrg-right-15 font-size-16">Edit</p>
                  <p class="mrg-right-15 font-size-16">Delete</p>
                </div>
              </div>
            </div>
            <div class="collapse-subsections">
              <div class="align-left">
                <i class="fa-solid fa-ellipsis-vertical font-size-20 mrg-right-3" style="margin-left: 22px;"></i>
                <i class="fa-solid fa-ellipsis-vertical font-size-20 mrg-right-10"></i>
                <i class="fa-solid fa-chevron-right mrg-right-15 font-size-20"></i>
                <div class="course-name font-size-16 dflex-container"><i
                    class="fa-regular fa-circle-check mrg-right-10 font-size-20"></i>Introduction
                  to the course<i class="fa-solid fa-pen mrg-left-10 font-size-20"></i>
                </div>

                <div class="middle">
                  <div class="videos mrg-right-3rem dflex-container font-size-16">
                    <i class="fa-solid fa-circle-play font-size-20 mrg-right-7"></i>
                    02:50
                  </div>
                  <div class="lectures mrg-right-3rem dflex-container">
                    <section class="example-section">
                      <mat-checkbox class="example-margin font-size-16">Preview</mat-checkbox>
                    </section>
                  </div>
                  <div class="assignment mrg-right-15 dflex-container font-size-16">
                    Published on : 13 July '22
                  </div>
                </div>

                <div class="text-align-right dflex-container">
                  <p class="mrg-right-15 font-size-16">Edit</p>
                  <p class="mrg-right-15 font-size-16">Delete</p>
                </div>
              </div>
            </div>
            <div class="collapse-subsections">
              <div class="align-left">
                <i class="fa-solid fa-ellipsis-vertical font-size-20 mrg-right-3" style="margin-left: 22px;"></i>
                <i class="fa-solid fa-ellipsis-vertical font-size-20 mrg-right-10"></i>
                <i class="fa-solid fa-chevron-right mrg-right-15 font-size-20"></i>
                <div class="course-name font-size-16 dflex-container"><i
                    class="fa-regular fa-circle-check mrg-right-10 font-size-20"></i>Introduction
                  to the course<i class="fa-solid fa-pen mrg-left-10 font-size-20"></i>
                </div>

                <div class="middle">
                  <div class="videos mrg-right-3rem dflex-container font-size-16">
                    <i class="fa-solid fa-circle-play font-size-20 mrg-right-7"></i>
                    02:50
                  </div>
                  <div class="lectures mrg-right-3rem dflex-container">
                    <section class="example-section">
                      <mat-checkbox class="example-margin font-size-16">Preview</mat-checkbox>
                    </section>
                  </div>
                  <div class="assignment mrg-right-15 dflex-container font-size-16">
                    Published on : 13 July '22
                  </div>
                </div>

                <div class="text-align-right dflex-container">
                  <p class="mrg-right-15 font-size-16">Edit</p>
                  <p class="mrg-right-15 font-size-16">Delete</p>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>